.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.card {
  background: var(--card-color);
  padding: 1rem;
  border-radius: 1rem;
  transition: var(--transition);
}

.card:hover {
  transform: translateY(-0.5rem);
  background: var(--card-hover-color);
}

.card h3 {
  margin-bottom: 0.5rem;
  color: var(--accent-color);
}

.card .links {
  align-items: left;
  margin-top: 1rem;
}

.card .links a {
  border-bottom: 1px solid var(--text-color);
}

.card-links a:hover {
  border-bottom: 1px solid var(--accent-color);
}
