:root {
  --header-color: #1a1919;
  --bg-color: #212121;
  --footer-color: #1a1919;

  --card-color: #1a1919;
  --card-hover-color: #474747;

  --text-color: #e1e1e1;
  --accent-color: #ffffff;
  --muted-color: #aeaeae;

  --title-size: 2rem;
  --text-size: 1rem;
  --footer-size: 1rem;

  --gap: 1rem;

  --transition: 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Inter", Arial, Sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: var(--text-size);
}

.highlight {
  color: var(--accent-color);
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--accent-color);
}

.footer {
  background: var(--footer-color);
  text-align: center;
  padding: 1rem;
  line-height: 2rem;
  font-size: 0.9rem;
  color: var(--muted-color);

  margin-top: auto;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
